<div class="container mt-4">
 <div class="row">
  <div class="col-md-8 offset-md-2">
     <form #signUpform="ngForm" (ngSubmit)="onsignin()" class="form">
         <div class="form-group" >
           <label for="userName">UserName*</label>
           <input type="text" class="form-control" required id="userName" #userName="ngModel" ngModel name="userName" minlength="6" maxlength="12" pattern="[a-zA-Z]+">
           
           <strong class="text-danger" *ngIf="userName.touched && userName.hasError('required') ">
              Username is required field 
           </strong>
           <strong class="text-danger" *ngIf="userName.dirty && userName.hasError('minlength') ">
              Minimum length should be 6 
         </strong>
         <strong class="text-danger" *ngIf="userName.dirty && userName.hasError('pattern') ">
             Invalid username 
         </strong>
         <strong class="text-danger" *ngIf="usernameflag">
           maximumlength of  username  should be 12
        </strong>
         </div> 
         <div class="form-group" >
          <label for="email">Email*</label>
          <input type="text" class="form-control" required id="email" #email="ngModel" ngModel name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <strong class="text-danger" *ngIf="email.touched && email.hasError('required') ">
            email is required field 
         </strong>
         <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern') ">
            Invalid email 
         </strong>
        </div> 
        <div class="form-group">
         <label for="secretquestion">Secret Question*</label>
          <select class="form-control" #secretquestion="ngModel" required ngModel name="secretquestion">
             <option value="Favourite book">Favourite book</option>
             <option value="Favourite sport">Favourite sport</option>
          </select>
          <strong class="text-danger" *ngIf="secretquestion.touched && secretquestion.hasError('required') ">
            secretquestion is required field 
         </strong>
        </div>
        <div class="form-group">
           <label for="answer">Answer*</label>
           <input class="form-control" type="text" ngModel #answer="ngModel" required name="answer">
           <strong class="text-danger" *ngIf="answer.touched && answer.hasError('required') ">
            answer is required field 
         </strong>
        </div>
        <div class="form-group">
          <label for="isSubscribed">
            <input type="checkbox" ngModel #isSubscribed="ngModel" name="isSubscribed" >
             subscribe for daily email
          </label>
        </div>

        <div class="form-group">
        <label [for]="mod.mode" *ngFor="let mod of contactarr">
           <input type="radio" required ngModel [value]="mod.mode" name="mod" [id]="mod.mode" >{{mod.mode}}
        </label>
        </div>

        <button [disabled]="signUpform.invalid" class="btn btn-block btn-primary">SignIn</button>
     </form>
  </div>
 </div>
</div>